<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" layout="${longdate} [${threadid}] [${level}] ${logger} : ${message} ${exception:format=toString,Data}" fileName="${basedir}/logs/evoldb_${date:format=yyyy-MM-dd}.log" />
      <target name="console" xsi:type="ColoredConsole" layout="${message}" />
    </targets>
    <rules>
      <!--Skip non-critical Microsoft logs and so log only own logs-->
      <logger name="Microsoft.*" maxlevel="Info" final="true" />    
      <logger name="*" minlevel="Debug" writeTo="logfile" />      
      <logger name="*" minlevel="Debug" writeTo="console" />
    </rules>
  </nlog>
</configuration>